html {
  height: 100%;
}
body {
  background: radial-gradient(
    circle at 4.3% 10.7%,
    rgb(138, 118, 249) 13.6%,
    rgb(75, 252, 235) 100.7%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Inconsolata", monospace;
  height: 100%;
  margin: 0;
}

.App {
  color: #40356f;
  font-family: monospace;
  padding: 50px;
  text-align: center;
}

.SearchButton {
  border-color: #fa86be;
  padding: 20px;
}

ul {
  list-style-type: none;
}

ul p {
  color: #534edb;
  font-size: 24px;
  font-weight: bolder;
}

ul li {
  color: #645fce;
  font-size: 18px;
}

p {
  display: block;
  font-family: "Inconsolata", monospace;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

#code-creator {
  color: #4efaea;
  font-family: "La Belle Aurore", cursive;
  font-size: 16px;
  text-decoration: none;
}

#github-link {
  color: #4efaea;
  text-decoration: none;
}

#netlify-link {
  color: #4efaea;
  text-decoration: none;
}
